.banner {
  background-image:url(https://placekitten.com/g/900/400);
  background-size: cover;
  height: 600px;
  position: relative;
}
.banner-content{
  padding: 150px;
}
.banner-shadow {
  background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%,rgba(41,137,216,0) 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}


h1 {
  color:white;
  font-weight: bold;
  font-size: 55px;
}

.slogan {
  color: white;
  font-size: 25px;
  font-family: Open-sans, sans-serif;
  font-style: italic;
  margin-bottom:40px;
}

.home-feature {
  font-family: 'Raleway', sans-serif;
  font-size:20px;
}

.features {
  margin-top: 50px;
  margin-bottom: 150px;
}

#map {
  margin-top:50px;
}

.footer {
  padding:25px;
  margin-top:50px;
  height:250px;
  background-color: #bdc3c7;
}

.smlinks {
  font-size:40px;
  color:white;
  padding:7px;
}

a:hover {
    color: #2c3e50;
    text-decoration:none;
}

.newsletter {
  right:0px;
}
