---
title: Our catelicious team
---

<div class="welcome text-center padded">

<h1>Contact</h1>

<h2 class="contact">Our catelicious team</h2>

<div class="team">
<!-- Text input-->
<% data.team.each do |member| %>
<div class="teammembers">
 <%= image_tag member.image, class: "img-circle" %>
<h3><%= member.name %></h3>
<p><%= member.job %></p>
</div>
<% end %>

</div>


</div>


<!-- .contact -->

