<!-- <div id="map" style="width: 100%; height: 400px;">

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.852937,2.364178);

var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>

</div> -->



<div class="footer">

  <div class="social-media col-xs-12 col-sm-6 col-md-6 col-lg-6">

  <h3><strong>We're live !</strong></h3>

  <a href="http://grbs.fr" class="smlinks fa fa-tumblr-square"></a>
  <a href="http://twitter.com/mygreg" class="smlinks  fa fa-twitter-square"></a>
  <a href="http://facebook.com/greg.bessagnet" class="smlinks fa fa-facebook-square"></a>
  <a href="https://github.com/gregoire-bessagnet" class="smlinks fa fa-github-square"></a>

  </div>

<div class="newsletter col-xs-12 col-sm-6 col-lg-6">
  <h4><strong>Be the first to receive the box !</strong></h4>
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>

</div>

<div class="love">

  <p>Made in Bordeaux with <img src="/images/love.png"> and <img src="/images/ruby.png"> </p>

</div>

</div>
